/* #app{
  height: fit-content;
  min-height: 10rem;
  width: fit-content;
  min-width: 7rem;
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
} */